{
 :aliases {
           :dev      {:extra-paths ["dev"]
                      :extra-deps  {criterium/criterium {:mvn/version "0.4.6"}
                                    ;;junit/junit                                                    {:mvn/version "4.12"}
                                    }
                      :jvm-opts    ["-Daws.profile=codesmith"]}
           :test     {:extra-paths ["test"]
                      :extra-deps  {org.clojure/test.check {:mvn/version "1.1.0"}}}
           :runner   {:extra-deps {lambdaisland/kaocha {:mvn/version "1.0.732"}}
                      :main-opts  ["-m" "kaocha.runner"]}
           :outdated {:extra-deps {antq/antq {:mvn/version "0.11.1"}}
                      :main-opts  ["-m" "antq.core"]}
           :jar      {:extra-deps {seancorfield/depstar {:mvn/version "2.0.187"}}
                      :main-opts  ["-m" "hf.depstar.jar" "target/codesmith-javagen.jar"]}
           :deploy   {:extra-deps {slipset/deps-deploy {:mvn/version "0.1.5"}}
                      :main-opts  ["-m" "deps-deploy.deps-deploy" "deploy"
                                   "target/codesmith-javagen.jar"]}}
 }